@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #01352e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002014;
    --foreground: #ededed;
  }
}

body {
  background: url("/back4.jpeg") no-repeat center center fixed;
  background-size: cover;
}

